# yaml-language-server: $schema=https://github.com/Azure/deployment-environments/releases/download/2022-11-11-preview/manifest.schema.json
name: eShop
version: 1.0.0
summary: Full Stack for eShop
description: Deploys an entire stack for eShop
runner: egimages.azurecr.io/ade:latest
templatePath: infra/main-ade.bicep

parameters:
  - id: environmentPurpose
    name: Environment Purpose
    description: 'The intended use of the environment. This note will be included in the teams message.'
    type: string